form {
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 25px;
}

textarea{
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 5px;
    color: #1E1E1F;
    font-size: 18px;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
}

textarea::placeholder{
    color: #141212;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

textarea:focus{
    outline-color: rgb(99, 97, 99);
    box-shadow: 0px 5px 50px rgba(99, 97, 99, 0.926);
}

.TodoForm-buttonContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 5px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}

.TodoForm-button--add{
    background-color: #47e832;
    font-weight: 800;
}

.TodoForm-button--cancel{
    background-color: #ed2c2c;
    font-weight: 800;
}