body {
  margin: 0 auto;
  padding: 0;
  background: #bedded;
  color: #1b1bd4;
  width: 50%;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}